body {
font-family: Arial, sans-serif;
background-color: #f4f6f8;
margin: 0;
padding: 0;
color: #333;
}

#header {
    background-color: rgb(255, 163, 24);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
}

#busqueda {
    overflow: hidden;
    background-color: #e9e9e9;
    text-align: center;
}

#busqueda a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#busqueda a:hover {
    background-color: #bebcbc;
    color: black;
}

#timer {
    display: inline-block;
    background-color: rgb(255, 163, 24);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 10px;
}

#contenedores {
    display: flex;
    flex-wrap: wrap;
}
.contenedor {
    background: white;
    width: 400px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #004aad;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}
select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    background-color: #00b894;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #019874;
}

#mensaje {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}