body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: rgb(255, 163, 24);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
}

#busqueda {
    overflow: hidden;
    background-color: #e9e9e9;
}

#busqueda a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#busqueda a:hover {
    background-color: #bebcbc;
    color: black;
}

#busqueda input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin: 8px 16px;
    font-size: 17px;
}

#busqueda input[type=button] {
    float: right;
    padding: 6px;
    border: 1 solid black;
    margin: 8px;
    font-size: 17px;
    cursor: pointer;
}

#carrito {
    float: right;
    padding: 5px;
    cursor: pointer;
}

#productos {
    background-color: #bebcbc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 16px;
}

#productos > div {
    flex: 0 0 220px;
    text-align: center;
}

img {
    padding: 8px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    max-height: 200px;
    max-width: 200px;
}

#prodaventa{
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

h3 {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    padding-left: 5px;
    text-align: center;
}

.Agregarcarrito {
    background-color: rgb(255, 255, 110);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    float: left;
    cursor: pointer;
    border: 1px black;
}

.Comprarahora {
    background-color: rgb(255, 116, 29);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px black;
    display: block;
    float: right;
    cursor: pointer;
}

.Agregarcarrito:active, .Comprarahora:active {
    color: grey;
}
