/* Estilo General */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Encabezado */
header{
    background-color: #cdb284;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

header h1{
    margin: 0;
    font-size: 2.2rem;
    font-weight: bold;
}

/* Contenido */
.contenido{
    width: 80%;
    margin: auto;
    background: white;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.contenido h2{
    color: #0a2c52;
    margin-top: 25px;
    font-size: 1.6rem;
}

.contenido p{
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
    margin-top: 10px;
}

footer{
    background-color: #cdb284;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
}