 /* Logo temporal */
#header {
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
}

#logo img {
    display: block;
    width: auto;
    height: 40px;
}

#productos {
    text-align: center;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(193, 198, 199);
    transition: 0.9s ease;
    cursor: pointer;
}

#productos:hover {
    transform: scale(1.05);
}

#background img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    filter: brightness(40%);
    position: inherit;
}

#texto-principal {
    position: relative;
    z-index: 10;
}

#texto-principal {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-align: justify;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#mapa {
    position: absolute;
    top: 70%;
    left: 30%;
    right: 30%;
    transform: translate(-50%, -50%);
}

/* Reseña */
.checked {
    color: orange;
}


#reseña {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 170px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#reseña1 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 290px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#reseña2 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 407px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#reseña3 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 507px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#reseña4 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 607px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#Contacto {
    background-color: rgb(232, 232, 232);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    font-size: 15px;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

