body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}


.encabezado {
    background: #b66f42;
    color: white;
    text-align: center;
    padding: 20px;
}

.encabezado h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

.decoracion {
    height: 8px;
    background: linear-gradient(to right, brown, white, brown);
}


.info {
    text-align: center;
    background: #ffffff;
    padding: 20px;
}

.btn-regresar {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    background: #332527;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background: #c46500;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s;
}

.card img:hover {
    transform: scale(1.05);
}


.pie {
    background: #b66f42;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
