#header {
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo {
    display: block;
    width: auto;
    height: 50px;
    text-align: center;
}

#productos {
    text-align: center;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(193, 198, 199);
    transition: 0.9s ease;
    cursor: pointer;
}

#productos:hover {
    transform: scale(1.05);
}

#background img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    filter: brightness(40%);
    position: inherit;
}

#texto-principal {
    position: relative;
    z-index: 10;
}

#texto-principal {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-align: justify;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#mapa {
    position: absolute;
    top: 70%;
    left: 30%;
    right: 30%;
    transform: translate(-50%, -50%);
}

.checked {
    color: orange;
}

#reseña {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 170px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#reseña1 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 290px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#reseña2 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 407px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#reseña3 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 507px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#reseña4 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 607px;
    right: 20px;
    left: 1200px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 7px;
}

#Contacto {
    background-color: rgb(232, 232, 232);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    font-size: 15px;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: buttonface;
}

#dropdown {
    color: black;
    padding: 10px 20px 10px 20px;
    font-size: 18px;

}

a {
    color: black;
    padding: 10px 20px 10px 20px;
    font-size: 18px;

    text-decoration: none;
}
#dropdown-menu {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(208, 208, 208);
    z-index: 1;
}

#dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {
    background-color: rgb(217, 237, 255);
}

#dropdown-menu:hover #dropdown-content {
    display: block;
}

button {
    border: none;
}

