body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}


.encabezado {
    background: #b66f42;
    color: white;
    text-align: center;
    padding: 20px;
}

.encabezado h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

.decoracion {
    height: 8px;
    background: linear-gradient(to right, rgb(150, 64, 64), white, rgb(150, 64, 64));
}


.info {
    text-align: center;
    background: #ffffff;
    padding: 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background: #dac1a6;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}

.card img {
    width: 85%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s;
}

.card img:hover {
    transform: scale(1.05);
}


.pie {
    background: #b66f42;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

#logo {
    height: 90px;
    width: auto;
}

a {
    text-decoration: none;
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

#navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #b66f42;
}

#dropdown {
    color: black;
    padding: 10px 20px 10px 20px;
    font-size: 18px;

}

a {
    color: black;
    padding: 10px 20px 10px 20px;
    font-size: 18px;

    text-decoration: none;
}
#dropdown-menu {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(208, 208, 208);
    z-index: 1;
}

#dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {
    background-color: rgb(217, 237, 255);
}

#dropdown-menu:hover #dropdown-content {
    display: block;
}

button {
    border: none;
}

@media (max-width: 700px) {
    .topbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    #navbar {
        flex-direction: column;
        gap: 8px;
    }
}