/* Estilo General */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    background-color: #0a2c52;
    color: white;
    padding: 20px 0;
}
