/* Estilo General */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Encabezado */
header{
    background-color: #cdb284;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

header h1{
    margin: 0;
    font-size: 2.2rem;
    font-weight: bold;
}